@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  font: normal 16px/100% sans-serif;
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
}

.hdr {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: lightgrey;
  z-index: 2;
}

.hdr.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
}

.nav__link:nth-last-child(n+2) {
  margin-right: 25px;
}

.tel {
  border-bottom: 1px solid;
}

.sect {
  height: 2000px;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 200%;
  background-color: rgba(0,0,0,.7);
  z-index: 1;
}

.overlay.active {
  display: block;
}

.menu {
  display: none;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  background-color: darkgrey;
  padding: 25px 50px;
  position: absolute;
  top: 0;
  top: 100%;
  right: 0;
  z-index: 2;
  max-height: 250px;
  overflow: auto;
}

.menu.active {
  display: flex;
}

.menu-close {
  margin: 0 -25px 25px auto;
}

.menu-close:active {
  transform: scale(.95);
}

.menu > .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 25px;
}

.nav__item {
  margin-bottom: 20px;
}

.burger:active {
  transform: scale(.95);
}


.hero-sect {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-sect__title {
  font: bold 38px/50% sans-serif;
}

.hero-sect__descr {
  margin: 50px 0;
  max-width: 300px;
  font: 500 18px/160% sans-serif;
}

.hero-sect__link {
  color: #fff;
  border-bottom: 5px;
  background-color: purple;
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow-y: scroll;
  z-index: 999;
}


@keyframes overlayOpen {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes overlayClose {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}